/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
npm-debug.log
Envoy.blade.php
composer.phar
/public/google8b9ef90a2e687cc6.html
/.htaccess
public/img/gallery/*
!public/img/gallery/.gitkeep
public/img/plants/*
!public/img/plants/.gitkeep
public/img/products/*
!public/img/products/.gitkeep
